EmployeeManagementService/EmployeeMgtServiceFixture/Service References/EmployeeServiceReference/EmployeeServiceImplementation2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/EmployeeManagementService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EmployeeManagementService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50536/EmployeeServiceImplementation.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="tns:ArrayOfEmployee.Remark" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
  <xs:complexType name="ArrayOfEmployee.Remark">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee.Remark" nillable="true" type="tns:Employee.Remark" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployee.Remark" nillable="true" type="tns:ArrayOfEmployee.Remark" />
  <xs:complexType name="Employee.Remark">
    <xs:sequence>
      <xs:element minOccurs="0" name="_remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_remarkTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee.Remark" nillable="true" type="tns:Employee.Remark" />
  <xs:complexType name="ArrayOfEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployee" nillable="true" type="tns:ArrayOfEmployee" />
</xs:schema>